<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{site.baseurl}}/assets/logo.ico/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="../../assets/317732_photography_photos_picasa_camera_icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="../../assets/317732_photography_photos_picasa_camera_icon.png"
/>
<link
  rel="mask-icon"
  href="../../assets/317732_photography_photos_picasa_camera_icon.png"
/>
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />
